<div class="col-md-12 mt-3">
	<app-loading *ngIf="loading"></app-loading>
	<form *ngIf="!loading" class="col-md-12 mb-5" #beerNew="ngForm" (ngSubmit)="onSubmit(beerNew)">
		<div class="row">
			<div class="col-6">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" name="name" #name="ngModel" [(ngModel)]="beer.name" class="form-control" required>
						<small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">Name not valid</small>
					</div>

					<div class="form-group">
						<label for="type">Type <small>({{beer.type.name | titlecase}})</small></label>
						<select name="type" #type="ngModel" [(ngModel)]="beer.type" class="form-control" required>
							<option value="" selected hidden>Select type...</option>
						    <option *ngFor="let type of types" [ngValue]="type" [selected]="type.id == beer.type.id">
						    	{{type.name | titlecase}}
						    </option>
						    <option [ngValue]="'other'">Other...</option>
						</select>
						<small *ngIf="(!type.valid || beer.type == 'other') && type.touched" class="invalid-feedback d-block">Type not valid</small>
					</div>

					<div class="form-group">
						<label for="brewery">Brewery <small>({{beer.brewery.brewery1.name | titlecase}})</small></label>
						<select name="brewery" #brewery="ngModel" [(ngModel)]="beer.brewery.brewery1" class="form-control" required>
							<option value="" selected hidden>Select brewery...</option>
						    <option *ngFor="let brewery of breweries" [ngValue]="brewery">
						    	{{brewery.name | titlecase}}
						    </option>
						    <option [ngValue]="'other'">Other...</option>
						</select>
						<small *ngIf="(!brewery.valid || beer.brewery.brewery1 == 'other') && brewery.touched && collab" class="invalid-feedback d-block">Brewery not valid</small>


						<label class="mt-3" *ngIf="collab || beer.brewery.brewery2.id != 0" for="brewery">Brewery <small>({{beer.brewery.brewery2.name | titlecase}})</small></label>
						<select *ngIf="collab || beer.brewery.brewery2.id != 0" name="brewery" #brewery="ngModel" [(ngModel)]="beer.brewery.brewery2" class="form-control" required>
							<option value="a" selected hidden>Select brewery...</option>
						    <option *ngFor="let brewery of breweries" [ngValue]="brewery" [selected]="brewery.id == beer.brewery.brewery2.id">
						    	{{brewery.name | titlecase}}
						    </option>
						    <option [ngValue]="'other'">Other...</option>
						</select>
						
						<small *ngIf="(!brewery.valid || beer.brewery.brewery2 == 'other') && brewery.touched" class="invalid-feedback d-block">Brewery not valid</small>
						<span *ngIf="!collab || beer.brewery.brewery2.id == 0" class="btn btn-secondary btn-sm mt-2" (click)="collab = true">Collaboration? Add another brewery</span>
					</div>

					<div class="form-group">
						<label for="abv">Alcohol content</label>
						<input type="text" name="abv" #abv="ngModel" [(ngModel)]="beer.abv" class="form-control" required>
						<small *ngIf="!abv.valid && abv.touched" class="invalid-feedback d-block">Alcohol content not valid</small>
					</div>

					<div class="form-group">
						<label for="volume">Volume</label>
						<input type="text" name="volume" #volume="ngModel" [(ngModel)]="beer.volume" class="form-control" required>
						<small *ngIf="!volume.valid && volume.touched" class="invalid-feedback d-block">Volume not valid</small>
					</div>
			</div>

			<div class="col-6">
				<div class="form-group">
					<label for="description">Description</label>
					<textarea name="description" #description="ngModel" [(ngModel)]="beer.description" class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="misc">Miscellanea</label>
					<textarea name="misc" #misc="ngModel" [(ngModel)]="beer.misc" class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label for="img" class="file-label d-flex justify-content-around align-items-center">
						<!-- <img *ngIf="!beer_img" src="assets/img/icons/upload.png" height="30" class="mr-3"> -->
						<img *ngIf="!beer_img" src="/assets/img/beers/{{beer.img}}_small.png" height="150">
						<span *ngIf="!beer_img" class="input-file-text d-block">Change the image...</span>
						<span *ngIf="beer_img" class="input-file-text d-block text-center">
							{{ beer_img.name }}
						</span>
					</label>
					<input type="file" id="img" name="img" #img class="input-file" (change)="onFileSelected($event.target.files[0], 'beer')" required>
					<small *ngIf="beer.img == '' && img.touched" class="invalid-feedback d-block">You need to upload an image</small>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="offset-6 col-6 mt-3">
				<a class="btn btn-danger float-right text-white pointer" data-toggle="modal" data-target="#delete-beer-modal">Delete</a>
				<button class="btn btn-success float-right mr-2" type="submit">Submit</button>
				<a class="btn btn-light float-right mr-2" [routerLink]="['/home']">Cancel</a>
			</div>
		</div>
	</form>

</div>

<!------------------------------ MODALS ---------------------------------->
<!------------------------------ MODALS ---------------------------------->
<!------------------------------ MODALS ---------------------------------->
<!------------------------------ MODALS ---------------------------------->
<!------------------------------ MODALS ---------------------------------->



<!-- NEW TYPE MODAL -->
<div id="new-type-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document" data-target="#new-type-modal">
	<div class="modal-content">
	  	<div class="modal-header">
	    	<h5 class="modal-title">New type</h5>
	    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      		<span aria-hidden="true">&times;</span>
	    	</button>
	  	</div>
	  	<div class="modal-body">
			<div class="form-group">
				<label for="new-type">Enter the new type name</label>
				<input type="text" name="new-type" class="form-control" #type="ngModel" [(ngModel)]="beer.type">
			</div>
	  	</div>
	  	<div class="modal-footer">
	    	<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSaveNewType()">Save changes</button>
	    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	  	</div>
	</div>
	</div>
</div>



<!-- NEW BREWERY MODAL -->
<div id="new-brewery-modal" class="modal fade in hide" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document" data-target="#new-brewery-modal">
	<div class="modal-content new-brew-modal-content">
	  	<div class="modal-header">
	    	<h5 class="modal-title">New brewery</h5>
	    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      		<span aria-hidden="true">&times;</span>
	    	</button>
	  	</div>
	  	<div class="modal-body">
	  		<div class="col-12">
	  			<div class="row">
	  				<div class="col-6">
						<div class="form-group">
							<label for="new-type">Name</label>
							<input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="newBrewery.name">
						</div>

						<div class="form-group">
							<label for="url">Url</label>
							<input type="text" name="url" class="form-control" #url="ngModel" [(ngModel)]="newBrewery.url">
						</div>

						<div class="form-group">
							<label for="address">Address</label>
							<input type="text" name="address" class="form-control" #address="ngModel" [(ngModel)]="newBrewery.address">
						</div>
					</div>

	  				<div class="col-6">
						<div class="form-group">
							<label for="country">Country</label>
							<select name="country" #country="ngModel" [(ngModel)]="newBrewery.country" class="form-control" [disabled]="newBrewery.country === null" required>
								<option value="" selected hidden>Select country...</option>
							    <option *ngFor="let country of countries" [ngValue]="country">
							    	{{country.name | titlecase}}
							    </option>
							    <option [ngValue]="null">Other...</option>
							</select>
							<small *ngIf="(!country.valid || newBrewery.country == 'other') && country.touched" class="invalid-feedback d-block">Country not valid</small>
							<input *ngIf="newBrewery.country === null" type="text" name="name" #name="ngModel" [(ngModel)]="newCountry.name" class="form-control">
						</div>

						<div class="form-group">
							<label for="logo" class="file-label d-flex justify-content-center align-items-center">
								<img *ngIf="!newBrewery.logo" src="assets/img/upload.png" height="30" class="mr-3">
								<span *ngIf="!newBrewery.logo" class="input-file-text d-block">Upload an image...</span>
								<span *ngIf="newBrew_logo" class="input-file-text d-block text-center">
									{{ newBrewery.logo.name }}
								</span>
							</label>
							<input type="file" id="logo" name="logo" #logo class="input-file" (change)="(newBrewery.logo = logo.files[0]); onFileSelected($event.target.files[0], 'brewery')">
						</div>
					</div>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="modal-footer">
	    	<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSaveNewBrewery()">Save changes</button>
	    	<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="newBrewery = ''">Close</button>
	  	</div>
	</div>
	</div>
</div>

<!-- DELETE BEER MODAL -->
<div id="delete-beer-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document" data-target="#new-type-modal">
	<div class="modal-content">
	  	<div class="modal-header">
	    	<h5 class="modal-title">Delete beer</h5>
	    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      		<span aria-hidden="true">&times;</span>
	    	</button>
	  	</div>
	  	<div class="modal-body">
			<h4>Are you sure you want to delete this beer?</h4>
	  	</div>
	  	<div class="modal-footer" style="border:none !important;">
	    	<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
	    	<button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
	  	</div>
	</div>
	</div>
</div>